
<!DOCTYPE html>
<html lang="en">
<head>
	<title>1WD HTML5 theme</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="body">
	
	<header class="mainHeader">
		<img src="img/logo.gif">
		<nav><ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul></nav>
	</header>
		
	<div class="mainContent">
		<div class="content">	
				<article class="topcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Second article</a></h2>
					</header>
					
					<footer>
						<p class="post-info">This was posted on the 2nd of March 2013 by Christian Vasile</p>
					</footer>
					
					<content>
						<form>
							<label for="contact_name">Name:</label>
							<input id="contact_name" placeholder="Enter your name" autofocus=""><br>
							<label for="contact_email">E-mail:</label>
							<input type="email" id="contact_email" placeholder="Enter your email address"><br>
							<label for="contact_phone">Phone:</label>
							<input id="contact_phone" placeholder="Enter your phone number"><br>
							<label for="contact_callback">Callback on:</label>
							<input type="datetime" id="contact_callback"><br>
							<label for="contact_priority">Priority:</label>
							<input type="range" min="1" max="5" value="1" id="contact_priority"><br><br>
							<input type="submit" value="Request Call">
						</form>
					</content>
					
				</article>

				<article class="bottomcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">First post</a></h2>
					</header>

					<footer>
						<p class="post-info">This was posted on the 5th of March 2013 by Christian Vasile</p>
					</footer>
					
					<content>
						<div class="listing">
						  <ul>
						    <li>
						      	<img src="http://lorempixum.com/100/100/nature/1" >
						      	<h3>The Audio Worflow</h3>
								<p>Duration : 4days, Cost : 1250, 
						          Task List : [01, 12, 14, 17, 89, 05].</p>
						    </li>
						      
						    <li>
						      	<img src="http://lorempixum.com/100/100/nature/2" >
						      	<h3>Paradise Found</h3>
						      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
						    </li>

						    <li>
						      <img src="http://lorempixum.com/100/100/nature/3" >
						      <h3>Smoke On The Water</h3>
						      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
						    </li>

						    <li>
						      <img src="http://lorempixum.com/100/100/nature/4" >
						      <h3>Headline</h3>
						      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
						    </li>
						  </ul>
						</div>
					</content>
				
				</article>
		</div>
			
				<aside class="top-sidebar">
					<article>
					<h2>Top Sidebar</h2>
					<p>Discover how to use new techniques to achieve an outstanding, cross-browser HTML5.</p>
				    </article>
				</aside>
				
				<aside class="middle-sidebar">
					<article>
					<h2>Middle Sidebar</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </article>
				</aside>				

				<aside class="bottom-sidebar">
					<article>
					<h2>Bottom Sidebar</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod expedita distinctio.</p>
				    </article>
				</aside>	
	</div>
	
	<footer class="mainFooter">
		<p>Copyright &copy; 2013 <a href="http://1stwebdesigner.com">1stwebdesigner</a></p>
		<div id="connect">
			<ul class="icons">
			    <li><a class="blogger" href="#blogger">a</a></li>
			    <li><a class="linkdin" href="#linkd">b</a></li>
			    <li><a class="facebook" href="#facebook">c</a></li>
			    <li><a class="twitter" href="#twit">d</a></li>
			</ul>
		</div>
	</footer>

</body>
</html>